.dark1 {
  color: white;
  background-color: black;
}

.light1{
  color: black;
  background-color: white;
}

.highlight {
  background-color: yellow;
  border-style: groove;
}

div.toHighlight{
  cursor: pointer;
}
